.container.text-center{ style: "margin-top: 75px;" }
  %h2.form-header Login

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

    .form-group.col-xs-12.col-sm-6.col-md-6.col-lg-6
      = f.label :email, class: "users-label"
      = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control max-500"

    .form-group.col-xs-12.col-sm-6.col-md-6.col-lg-6
      = f.label :password, class: "users-label"
      = f.password_field :password, autocomplete: "off", class: "form-control max-500"

    .form-group.col-sm-12.col-md-12.col-lg-12.actions{ style: "margin: 75px 0px;" }
      = f.submit "Log in", class: "btn btn-lg btn-primary btn-rounded"
