.container-fluid.homepage-container
  .row
    .col-xs-12.col-sm-8.col-md-9.col-lg-9{ style: "padding: 60px 15px;" }
      - if params[:submitted]
        .row
          .col-sm-12.col-md-12.col-lg-12
            .alert.alert-success.text-success.text-center{ style: "width: 90%; min-width: 250px; margin: 0 auto;" } Thanks! Your information has been submitted.
      .row
        .col-sm-12.col-md-12.col-lg-12
          %h2.large-line-height{ style: "color: #FFF; padding: 55px;" }
            Xplode Tour 2018
            %br
            We are gearing up for a GREAT 2018!
            %br
            Xplode may be coming to a city near you!
      .row
        .col-sm-12.col-md-12.col-lg-12{ style: "padding: 50px;" }
          = form_tag "/users/submit_inquiry" do
            .form-row
              .form-group.col-sm-12.col-md-12.col-lg-12
                %label.form-label Name
                = text_field_tag "name", nil, :required => true, class: "form-control max-500 pull-left"
            .form-row
              .form-group.col-sm-12.col-md-12.col-lg-12
                %label.form-label Email
                = text_field_tag "email", nil, :required => true, class: "form-control max-500 pull-left"
            .form-row
              .form-group.col-sm-12.col-md-12.col-lg-12
                = submit_tag "Submit", class: "xplode-btn"
    .col-xs-12.col-sm-4.col-md-3.col-lg-3{ style: "margin-top: 75px; margin-bottom: 75px; padding: 20px;" }
      - @logos.each do |logo|
        .row
          .col-sm-12.col-md-12.col-lg-12.home-logo-container
            = link_to ( logo.link || '#' ) do
              = image_tag logo.logo.url, style: "max-width: 100%; max-height: 150px; margin: 25px auto; border-radius: 2px;"
