= link_to "Logout", destroy_admin_doublesecret_user_session_path, class: "btn btn-danger btn-rounded display-block admin-action-btn", method: :delete
- unless controller_name == 'speakers' && action_name == 'new'
  = link_to "Add Speaker", new_speaker_path, class: "btn btn-info btn-rounded display-block admin-action-btn"
- if controller_name == 'speakers' && action_name == 'show' && @speaker.present?
  = link_to speaker_path(@speaker), method: :delete do
    %button.btn.btn-danger.display-block.btn-rounded.admin-action-btn Delete Speaker
  = link_to edit_speaker_path(@speaker) do
    %button.btn.btn-warning.display-block.btn-rounded.admin-action-btn Edit Speaker
- unless controller_name == 'sponsor_logos' && action_name == 'new'
  = link_to "Add Sponsor Logo", new_sponsor_logo_path, class: "btn btn-info btn-rounded display-block admin-action-btn"
- if controller_name == 'sponsor_logos' && action_name == 'show' && @logo.present?
  = link_to "Edit Sponsor Logo", edit_sponsor_logo_path(@logo), class: "btn btn-warning btn-rounded display-block admin-action-btn"
  = link_to sponsor_logo_path(@logo), method: :delete do
    %button.btn.btn-danger.display-block.btn-rounded.admin-action-btn Delete Sponsor Logo
- unless controller_name == 'cities' && action_name == 'new'
  = link_to "Add City", new_city_path, class: "btn btn-info btn-rounded display-block admin-action-btn"
- if controller_name == 'cities' && action_name == 'show' && @city.present?
  = link_to "Edit City", edit_city_path(@city), class: "btn btn-warning btn-rounded display-block admin-action-btn"
  = link_to city_path(@city), method: :delete do
    %button.btn.btn-danger.display-block.btn-rounded.admin-action-btn Delete City
